* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid rgb(105, 29, 29);
}
html,
body {
  overflow-x: hidden;
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
footer {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}
.wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  height: 26rem;
  width: 90vw;
  max-width: 40rem;
  border: 1px solid #000;
  position: relative;
  border-radius: 20px;
  background-color: #e0e1e5;
  box-shadow: 0 10px 10px rgb(255, 255, 255, 0.5);
  z-index: 0;
  overflow: hidden;
}
.glass-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: radial-gradient(
    circle at 40% 60%,
    rgb(110, 135, 166) 0%,
    #a6adb7
  );
  filter: blur(60px);
}
.container-content {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.form-handler {
  display: flex;
  justify-content: space-around;
}
.form-input > input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  width: 30rem;
  padding: 15px 20px;
  border-radius: 1rem;
  border: 1px solid rgb(255, 255, 255, 0.7);
  margin: 25px 5px 25px 15px;
  box-shadow: 0 0px 10px rgb(255, 255, 255, 0.5);
  color: black;
}
.form-submit-btn > input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 6.5rem;
  padding: 15px 20px;
  border-radius: 1rem;
  font-size: 15px;
  color: rgb(198, 21, 151, 0.8);
  background-color: rgb(255, 255, 255, 0.8);

  background-size: 400% 400%;
  border: none;
  margin: 25px 20px 25px 5px;
  box-shadow: 0 0px 10px rgb(255, 255, 255, 0.5);
}
.form-submit-btn > input:hover {
  background-image: radial-gradient(
    circle at center,
    rgb(198, 21, 150, 0.8) 0%
  );
  background-size: 300% 300%;
  cursor: pointer;
  color: #fff;
}
.toggle {
  color: #212121;
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 232, 237, 0.3);
  width: 15rem;
  margin-left: 12rem;
  padding: 5px;

  border-radius: 16px;
}
.toggle > h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.toggle > h3.active-btn {
  background-color: #fff;
  width: fit-content;
  padding: 5px 25px;
  border-radius: 16px;
}
.toggle > h3.nonactive-btn {
  width: fit-content;
  padding: 5px 25px;
  border-radius: 16px;
}
.current-city-info {
  display: flex;
  justify-content: space-between;
  margin: 25px 35px 0px 35px;
}

div.current-temp {
  display: flex;
}

div.current-temp-digit {
  font-size: 92px;
  font-weight: 800;
  line-height: 120px;
}
div.current-temp-icon {
  width: 90px;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 0;
}
div.current-temp-metric {
  font-size: 23px;
  font-weight: 500;
  margin-top: 12px;
}
.city-name-with-description > h1 {
  margin-bottom: 15px;
  padding: 0;
}

.city-name-with-description p {
  margin-bottom: 20px;
  line-height: 10px;
  width: fit-content;
}
